-
    newProducts = [
        {"image": 1, "tag": "sale"},
        {"image": 2, "tag": "new"},
        {"image": 3, "tag": "hot"}, 
        {"image": 4, "tag": ""}
    ]
-
    bestSellerProducts = [
        {"image": 7, "tag": ""},
        {"image": 8, "tag": ""},
        {"image": 1, "tag": ""}, 
        {"image": 2, "tag": ""}
    ]
- menuItems = ["Trang chủ", "Rượu vang bò", "Rượu trắng", "Champagne", "Thông tin", "Blog", "Liên hệ"]
- headerItems = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]
- footerInfo = ["Về chúng tôi", "Giao hàng", "Cảm nghĩ", "Lưu trữ", "Chính sách riêng tư"]
- footerBuy = ["Vận chuyển và trả hàng", "Mua hàng an toàn", "Vận quốc tế", "Liên kết", "Dịch vụ giảm giá"]
- footerSocial = ["fab fa-twitter", "fab fa-google-plus-g", "fab fa-dribbble", "fab fa-linkedin-in", "fas fa-rss"]
- 
    saleProductTime = [
        {"number": "334", "text": "ngày"},
        {"number": "26", "text": "giờ"},
        {"number": "60", "text": "phút"},
        {"number": "15", "text": "giây"}
    ]