extends layout.pug
block title 
    title Trang chủ
block content
    .slide 
        .container
            img(src="assets/images/slideText.png")
    .menu
        .container 
            .container__logo 
                img(src="assets/images/menuLogo.png")
            .container__list
                each val in menuItems
                    a(href="#")=val
    .content
        .container
            .intro
                h2.introText GIỚI THIỆU
                img.titleDark(src="assets/images/title-dark.png")
                p Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam
                button.blackBtn XEM THÊM
            .sale 
                img(src="assets/images/saleWine.jpg" width="100%")
                .sale__product
                    .sale__product-img 
                        p.saletag-big--sale Sale 
                        img(src="assets/product/14.jpg" width=190)
                    .sale__product-detail 
                        h2 RƯỢU NHO NĂM 1987
                        img(src="assets/images/titleleft-dark.png")
                        .sale__product-detail-price 330.000
                            span đ
                        button.blackBtn ADD TO CART
                        p.sale__product-detail-describe Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
                        .sale__product-detail-time 
                            each val in saleProductTime 
                                div
                                    h2=val.number 
                                    p=val.text
            .new
                .new__title
                    h2.introText SẢN PHẨM MỚI
                    img.titleDark(src="assets/images/title-dark.png")
                .new__product
                    +productListItem (newProducts)

        .gallery
            +galleryItem([1, 2, 3, 4, 5, 6, 7, 8])

        .container 
            .bestseller.new 
                .new__title
                    h2.introText SẢN PHẨM BÁN CHẠY
                    img.titleDark(src="assets/images/title-dark.png")
                .new__product
                    +productListItem (bestSellerProducts)