include constants.pug
include mixins.pug
doctype html
html(lang='en')
	head
		title Drink
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='styles/style.css')
		link(rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
			)

	body 
		block header
			header
				.container
					.container__left
						a(href="#") Tài khoản của tôi
						span -
						a(href="#") Trạng thái đơn hàng
						span -
						a(href="#") Danh sách ưa thích
						span -
						a(href="#") Giỏ hàng
						span -
						a(href="#") Đăng nhập
						span -
						a(href="#") Đăng ký
					.container__right
						form
							input(placeholder="Tìm kiếm ở đây...")
							a(href="#"): i.fas.fa-search

		block content
			main
				img(src="assets/images/slide-1-2050x898.jpg")

		block footer
			footer
				.info.container
					.info__about
						h2 Thông tin
						ul 
							li: a(href="#") Về chúng tôi
							li: a(href="#") Giao hàng
							li: a(href="#") Cảm nghĩ
							li: a(href="#") Lưu trữ
							li: a(href="#") Chính sách riêng tư
					.info__about
						h2 Mua hàng
						ul 
							li: a(href="#") Vận chuyển và trả hàng
							li: a(href="#") Mua hàng an toàn
							li: a(href="#") Vận quốc tế
							li: a(href="#") Liên kết
							li: a(href="#") Dịch vụ giảm giá
					.info__email
						h2 Gửi email 
						p Gửi email cho chúng tôi để được hỗ trợ
						form
							input(placeholder="Enter your email")
							a(href="#") GỬI
						.info__email-social
							a(href="#"): i.fab.fa-twitter
							a(href="#"): i.fab.fa-google-plus-g
							a(href="#"): i.fab.fa-linkedin-in
							a(href="#"): i.fas.fa-rss
					.info__contact
						h2 Liên hệ
						.info__contact-address
							i.fas.fa-map-marker-alt 
							p Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội
						.info