include constants.pug
include mixins.pug
doctype html
html(lang='en')
	head
		title Drink
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='styles/style.css')
		link(rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
			)

	body 
		block header
			header
				.container
					.container__left
						a(href="#") Tài khoản của tôi
						span -
						a(href="#") Trạng thái đơn hàng
						span -
						a(href="#") Danh sách ưa thích
						span -
						a(href="#") Giỏ hàng
						span -
						a(href="#") Đăng nhập
						span -
						a(href="#") Đăng ký
					.container__right
						form
							input(placeholder="Tìm kiếm ở đây...")
							a(href="#"): i.fas.fa-search

		block content
			main
				img(src="assets/images/slide-1-2050x898.jpg")

		block footer
			footer