-
    newProducts = [
        {"image": 1, "tag": "sale"},
        {"image": 2, "tag": "new"},
        {"image": 3, "tag": "hot"}, 
        {"image": 4, "tag": ""}
    ]
-
    bestSellerProducts = [
        {"image": 7, "tag": ""},
        {"image": 8, "tag": ""},
        {"image": 1, "tag": ""}, 
        {"image": 2, "tag": ""}
    ]
- menuItems = ["Trang chủ", "Rượu vang bò", "Rượu trắng", "Champagne", "Thông tin", "Blog", "Liên hệ"]
- headerItems = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]
- footerInfo = ["Về chúng tôi", "Giao hàng", "Cảm nghĩ", "Lưu trữ", "Chính sách riêng tư"]
- footerBuy = ["Vận chuyển và trả hàng", "Mua hàng an toàn", "Vận quốc tế", "Liên kết", "Dịch vụ giảm giá"]
- footerSocial = ["fab fa-twitter", "fab fa-google-plus-g", "fab fa-dribbble", "fab fa-linkedin-in", "fas fa-rss"]
- 
    saleProductTime = [
        {"number": "334", "text": "ngày"},
        {"number": "26", "text": "giờ"},
        {"number": "60", "text": "phút"},
        {"number": "15", "text": "giây"}
    ]
-
    blogListItems = [
        {"image": 1, "name": "Vang Thăng Long Classic", "author": "Đăng bởi Giangle | 30/06/2015 | 60 bình luận", "describe": "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."},
        {"image": 2, "name": "Vang Thăng Long Classic", "author": "Đăng bởi Giangle | 30/06/2015 | 60 bình luận", "describe": "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ..."}
    ]

- submenuItmes = ["Rượu Chivas", "Hàng độc - Rượu độc đáo", "Johnnie Walker", "Rượu Whisky", "Rượu Remy Martin", "Rượu Glenmorangie"]
-
    pdDetailButtons = [
        {"icon": "fas fa-heart", "name": "Yêu thích"},
        {"icon": "fas fa-signal", "name": "So sánh"},
        {"icon": "fas fa-envelope", "name": "Email"}
    ]
- 
    pdSocialButtons = [
        {"icon": "fab fa-facebook-square", "name": "facebook", "content": "Like"},
        {"icon": "fab fa-twitter", "name": "twitter", "content": "Tweet"},
        {"icon": "fab fa-google-plus-g", "name": "google", "content": "+1"},
        {"icon": "fab fa-linkedin-in", "name": "linkedin", "content": "Share"},
        {"icon": "fab fa-pinterest-p", "name": "pinterest", "content": "Pin it"}
    ]
- pdDetailDescribe = "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này."