-
    newProducts = [
        {"image": 1, "tag": "sale"},
        {"image": 2, "tag": "new"},
        {"image": 3, "tag": "hot"}, 
        {"image": 4, "tag": ""}
    ]
-
    bestSellerProducts = [
        {"image": 7, "tag": ""},
        {"image": 8, "tag": ""},
        {"image": 1, "tag": ""}, 
        {"image": 2, "tag": ""}
    ]
- menuItems = ["Trang chủ", "Rượu vang bò", "Rượu trắng", "Champagne", "Thông tin", "Blog", "Liên hệ"]
- headerItems = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]
- footerInfo = ["Về chúng tôi", "Giao hàng", "Cảm nghĩ", "Lưu trữ", "Chính sách riêng tư"]
- footerBuy = ["Vận chuyển và trả hàng", "Mua hàng an toàn", "Vận quốc tế", "Liên kết", "Dịch vụ giảm giá"]
- footerSocial = ["fab fa-twitter", "fab fa-google-plus-g", "fab fa-dribbble", "fab fa-linkedin-in", "fas fa-rss"]
- 
    saleProductTime = [
        {"number": "334", "text": "ngày"},
        {"number": "26", "text": "giờ"},
        {"number": "60", "text": "phút"},
        {"number": "15", "text": "giây"}
    ]
-
    blogListItems = [
        {"image": 1, "name": "Vang Thăng Long Classic", "author": "Đăng bởi Giangle | 30/06/2015 | 60 bình luận", "describe": "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml..."},
        {"image": 2, "name": "Vang Thăng Long Classic", "author": "Đăng bởi Giangle | 30/06/2015 | 60 bình luận", "describe": "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ..."}
    ]

- submenuItmes = ["Rượu Chivas", "Hàng độc - Rượu độc đáo", "Johnnie Walker", "Rượu Whisky", "Rượu Remy Martin", "Rượu Glenmorangie"]