.container
    .headMenu__left
        .headMenu__left-normal
            each val in headerItems 
                a(href=val.link+".html")=val.name 
                span -
        .headMenu__left-button 
            i.fas.fa-bars
            ul.headMenu__left-button-list
                each val in headerItems
                    li: a(href=val.link+".html")=val.name
    .headMenu__right
        form
            input(placeholder="Tìm kiếm ở đây...")
            a(href="#"): i.fas.fa-search