$PrimaryColor: #e6ae48
$SecondaryColor: #818181
    
*
    margin: 0
    padding: 0

a 
    text-decoration: none

ul 
    list-style: none

input
    outline: none

.container
    width: 75%
    margin: auto 

@import 'components/header', 'components/footer'