@charset "UTF-8";
@font-face {
  font-family: "lobster-regular";
  src: url("../assets/fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "utm-alpine";
  src: url("../assets/fonts/UTM-Alpine-KT.ttf");
}
@font-face {
  font-family: "utm-aquarelle";
  src: url("../assets/fonts/UTM-Aquarelle.ttf");
}
@font-face {
  font-family: "utm-caviar";
  src: url("../assets/fonts/UTM-Caviar.ttf");
}
@font-face {
  font-family: "uvf-didot";
  src: url("../assets/fonts/UVF-Didot.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #818181;
}
a:hover {
  color: #e6ae48 !important;
  transition: 0.5s;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.introText, footer .info h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

.btn, footer .info__email form button {
  color: white;
  background-color: black;
  padding: 6px 18px;
  border: none;
}
.btn:hover, footer .info__email form button:hover {
  background-color: #e6ae48;
  transition: 0.5s;
}

.titleDark {
  text-align: center;
}
.titleDark__img {
  margin: 5px 0 20px 0;
}

.titleLeft h1, .titleLeft h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

.endContent, .blog, .about, .cart, .pdList .wrapper, .pdList .slide, .pdDetail .product, .pdDetail .more, .pdDetail .detail, .home .gallery, .home .container .other, .home .container .new, .home .container .intro {
  margin-bottom: 6rem;
}

.timesFont, .pdDetail .more .tabs__buttons-btn, .pdDetail .detail__describe-buy-size select, body, a, .btn, footer .info__email form button {
  font-family: "Times New Roman", Times, serif;
}

.saletag-small--sale {
  position: absolute;
  top: -3.5rem;
  left: -7.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 1rem;
  padding: 5rem 6.5rem 1rem;
  background-color: #e6ae48;
}
.saletag-small--sale::after {
  position: absolute;
  content: "";
  top: 7.5rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #e6ae48;
}

.saletag-big--sale {
  position: absolute;
  top: -1.5rem;
  left: -5.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 2rem;
  padding: 3rem 5.5rem 1rem;
  background-color: #e6ae48;
}
.saletag-big--sale::after {
  position: absolute;
  content: "";
  top: 6.8rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #e6ae48;
}

.saletag-small--new {
  position: absolute;
  top: -3.5rem;
  left: -7.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 1rem;
  padding: 5rem 6.5rem 1rem;
  background-color: #62af26;
}
.saletag-small--new::after {
  position: absolute;
  content: "";
  top: 7.5rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #62af26;
}

.saletag-big--new {
  position: absolute;
  top: -1.5rem;
  left: -5.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 2rem;
  padding: 3rem 5.5rem 1rem;
  background-color: #62af26;
}
.saletag-big--new::after {
  position: absolute;
  content: "";
  top: 6.8rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #62af26;
}

.saletag-small--hot {
  position: absolute;
  top: -3.5rem;
  left: -7.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 1rem;
  padding: 5rem 6.5rem 1rem;
  background-color: #ed301c;
}
.saletag-small--hot::after {
  position: absolute;
  content: "";
  top: 7.5rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #ed301c;
}

.saletag-big--hot {
  position: absolute;
  top: -1.5rem;
  left: -5.5rem;
  transform: rotate(-45deg);
  color: white;
  font-size: 2rem;
  padding: 3rem 5.5rem 1rem;
  background-color: #ed301c;
}
.saletag-big--hot::after {
  position: absolute;
  content: "";
  top: 6.8rem;
  left: -2rem;
  width: 20rem;
  height: 1px;
  background-color: #ed301c;
}

.container {
  width: 70%;
  margin: auto;
}

.breadcrumb {
  margin: 3rem 0;
}
.breadcrumb span {
  padding: 0 5px;
}
.breadcrumb span:last-child {
  display: none;
}
.breadcrumb__item:nth-last-child(2) {
  color: #e6ae48;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.rowProductList {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.rowProductList__item {
  flex-basis: 25%;
}
.rowProductList__item-img {
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.rowProductList__item-img-buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  display: flex;
  justify-content: space-between;
}
.rowProductList__item-img-buttons a {
  flex: 2;
  display: block;
  color: white;
  padding: 5px 0;
  text-align: center;
}
.rowProductList__item-img-buttons a i {
  margin-right: 10px;
}
.rowProductList__item-img-buttons a:last-child {
  flex: 1;
}
.rowProductList__item-img-buttons a:nth-child(2) {
  border-right: 2px solid #262626;
  border-left: 2px solid #262626;
}
.rowProductList__item-img:hover .rowProductList__item-img-buttons {
  visibility: visible;
  opacity: 1;
}
.rowProductList__item-detail {
  text-align: center;
}
.rowProductList__item-detail-name {
  text-transform: uppercase;
  color: black;
}
.rowProductList__item-detail-price {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.rowProductList__item-detail-price > span {
  margin: 0 5px;
  color: #818181;
}
.rowProductList__item-detail-price .newprice {
  font-family: utm-caviar;
  font-size: 1.2rem;
  color: #e6ae48;
}
.rowProductList__item-detail-price .newprice span {
  font-size: 0.8rem;
  vertical-align: top;
}
.rowProductList__item-detail-price .oldprice {
  font-family: utm-caviar;
  font-size: 0.8rem;
  color: #818181;
  text-decoration: line-through;
}
.rowProductList__item-detail-price .oldprice span {
  font-size: 0.5rem;
  vertical-align: top;
}

.columnProductList__item {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 2rem;
}
.columnProductList__item:last-child {
  border: none;
}
.columnProductList__item-img {
  flex-basis: 30%;
}
.columnProductList__item-img img {
  width: 90%;
}
.columnProductList__item-describe {
  flex-basis: 60%;
}
.columnProductList__item-describe-title {
  font-weight: normal;
}
.columnProductList__item-describe-price {
  margin-bottom: 1rem;
  font-family: utm-caviar;
  font-size: 2.5rem;
  color: #e6ae48;
}
.columnProductList__item-describe-price span {
  font-size: 1.5rem;
  vertical-align: top;
}
.columnProductList__item-describe-content {
  color: #818181;
}
.columnProductList__item-describe-buttons {
  margin: 1rem 0;
}
.columnProductList__item-describe-buttons > * {
  margin-right: 15px;
}
.columnProductList__item-describe-buttons i {
  margin-right: 10px;
}

.slide {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/slide-1-2050x898.jpg") bottom no-repeat;
  background-size: cover;
  width: 100%;
  height: 667px;
  animation: slide 15s infinite;
  display: flex;
  align-items: center;
}
@keyframes slide {
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/slide-2.jpg") bottom no-repeat;
    background-size: cover;
  }
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/slide-3.jpg") bottom no-repeat;
    background-size: cover;
  }
}

.blogListItem__title {
  color: black;
}
.blogListItem img {
  margin-bottom: 15px;
}
.blogListItem h3 {
  cursor: pointer;
  margin-bottom: 5px;
}
.blogListItem small {
  color: #cacaca;
}
.blogListItem p {
  color: #818181;
  padding: 5px 0;
}

header {
  position: relative;
}
header .headMenu {
  width: 100%;
  padding: 15px 0;
}
header .headMenu .container {
  display: flex;
  justify-content: space-between;
}
header .headMenu a:hover {
  border-bottom: 1px solid #e6ae48;
}
header .headMenu__left span {
  padding: 0 10px;
}
header .headMenu__left span:last-child {
  display: none;
}
header .headMenu__right form {
  border-left: 1.5px solid white;
  padding-left: 10px;
}
header .headMenu__right form input {
  width: 250px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #818181;
}
header .headMenu__right form input::placeholder {
  font-style: italic;
  color: #818181;
}
header .headMenu--dark {
  background-color: #ffffff1a;
  color: #d6d6d6;
  z-index: 1000;
  position: absolute;
}
header .headMenu--dark a {
  color: #d6d6d6;
}
header .headMenu--dark form input {
  color: #d6d6d6;
}
header .headMenu--dark form input::placeholder {
  color: #d6d6d6;
}
header .menu {
  background-color: black;
  padding: 10px 0;
  position: relative;
}
header .menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu__list {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
}
header .menu__list-item {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
}
header .menu__submenu {
  position: absolute;
  display: flex;
  background-color: white;
  width: 80%;
  padding: 40px 30px;
  z-index: 1000;
  top: 100%;
  right: 15%;
  width: 56%;
  border: 1px solid #e6ae48;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
header .menu__submenu-list {
  flex: 1;
}
header .menu__submenu-list-title {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}
header .menu__submenu-list-item {
  display: block;
  padding-top: 10px;
  color: black;
}
header .menu__submenu-image {
  flex: 2;
  background: url("../assets/blog/subMenuImage.png") center no-repeat;
  background-size: cover;
}
header .menu__mega:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
}

footer .info {
  padding-bottom: 35px;
  border-bottom: 1px solid #e7e7e7;
}
footer .info__brand {
  width: 70%;
  margin: 0 auto 50px auto;
}
footer .info .container {
  display: flex;
}
footer .info h2 {
  margin-bottom: 15px;
}
footer .info__about {
  flex: 1;
  text-transform: uppercase;
}
footer .info__about li {
  margin-bottom: 5px;
}
footer .info__email {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .info__email p {
  color: #818181;
}
footer .info__email form {
  display: flex;
}
footer .info__email form input {
  padding: 5px 15px 5px 17px;
  border: 1px solid #787878;
  width: 60%;
}
footer .info__email form input::placeholder {
  font-style: italic;
  color: #818181;
}
footer .info__email form button {
  margin-left: -5px;
}
footer .info__email form button:hover ~ .triangle {
  border-top: 14px solid transparent;
  border-left: 15px solid #e6ae48;
  border-bottom: 14px solid transparent;
  transition: 0.5s;
}
footer .info__email form .triangle {
  border-top: 14px solid transparent;
  border-left: 15px solid black;
  border-bottom: 14px solid transparent;
}
footer .info__email form .triangle:hover ~ button {
  background-color: #e6ae48;
}
footer .info__email-social {
  margin-bottom: 5px;
}
footer .info__email-social a {
  margin-right: 15px;
}
footer .info__contact {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .info__contact i {
  margin-right: 10px;
}
footer .info__contact-address div {
  display: flex;
}
footer .info__contact-phone {
  margin-bottom: 5px;
}
footer .info__contact-phone span {
  margin-right: 20px;
}
footer .info__contact-phone span i {
  color: #e6ae48;
  text-transform: uppercase;
}
footer .end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #818181;
  padding: 15px 0;
}

.home {
  background: url("../assets/images/product.png") left top no-repeat, url("../assets/images/product2.png") right top no-repeat;
  background-size: 20%, 12%;
}
.home .container .intro {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto 6rem auto;
  text-align: center;
}
.home .container .intro p {
  color: #818181;
  margin-bottom: 30px;
}
.home .container .sale__product {
  position: relative;
  background-color: white;
  display: flex;
  width: 60%;
  margin: -29rem auto 10rem auto;
  padding: 8% 8% 0 8%;
}
.home .container .sale__product-img {
  position: relative;
  padding: 5% 5% 0 5%;
  overflow: hidden;
  flex: 8;
  text-align: center;
}
.home .container .sale__product-detail {
  flex: 7;
}
.home .container .sale__product-detail h2 {
  font-weight: normal;
  margin-bottom: 5px;
}
.home .container .sale__product-detail-price {
  font-family: utm-caviar;
  font-size: 2.5rem;
  color: #e6ae48;
  padding: 25px 0;
}
.home .container .sale__product-detail-price span {
  font-size: 1.5rem;
  vertical-align: top;
}
.home .container .sale__product-detail-describe {
  color: #818181;
  padding: 25px 0;
}
.home .container .sale__product-detail-time {
  display: flex;
  flex-wrap: wrap;
}
.home .container .sale__product-detail-time div {
  flex-basis: 50%;
  text-align: center;
  color: #e6ae48;
  padding: 19px 0;
  border: 1px solid #e6ae48;
}
.home .container .sale__product-detail-time div h2 {
  font-size: 2.5rem;
  font-family: utm-caviar;
}
.home .container .sale__product-detail-time div p {
  text-transform: uppercase;
}
.home .container .other {
  display: flex;
}
.home .container .other__blog {
  flex: 2;
  margin-right: 2%;
}
.home .container .other__blog-posts {
  display: flex;
  justify-content: space-between;
}
.home .container .other__blog-posts .blogListItem {
  flex-basis: 48%;
}
.home .container .other__customer {
  flex: 1;
  text-align: center;
}
.home .container .other__customer-detail {
  height: 83%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.home .container .other__customer-detail div > i {
  color: #b4b4b4;
}
.home .container .other__customer-detail-comment p {
  margin-bottom: 5px;
}
.home .container .other__customer-detail-buttons a {
  font-size: 0.5rem;
  padding: 0 3px;
}
.home .gallery {
  display: flex;
  flex-wrap: wrap;
}
.home .gallery__img {
  flex-basis: 25%;
  padding-bottom: 15%;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.home .gallery__img-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.home .gallery__img-content p {
  position: absolute;
  font-size: 1.5rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.home .gallery__img-content h3 {
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: normal;
  transform: translate(-50%, -50%);
}
.home .gallery__img:hover .gallery__img-content {
  visibility: visible;
  opacity: 1;
  color: white;
}

.pdDetail .detail {
  display: flex;
}
.pdDetail .detail__img {
  display: flex;
  flex: 3;
  margin-right: 3rem;
}
.pdDetail .detail__img-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 10%;
  padding: 0 10px;
  border: 1px solid #e6e6e6;
  border-right: none;
}
.pdDetail .detail__img-list a {
  display: block;
  padding: 20px 0;
}
.pdDetail .detail__img-list div {
  margin: 5px 0;
  text-align: center;
}
.pdDetail .detail__img-list div a {
  border-bottom: 1px solid #e6e6e6;
}
.pdDetail .detail__img-list div a:last-child {
  border: none;
}
.pdDetail .detail__img-list div a:nth-child(3) img {
  border: 1px solid #e6ae48;
}
.pdDetail .detail__img-list img {
  width: 100%;
  border: 1px solid transparent;
}
.pdDetail .detail__img-list img:hover {
  border: 1px solid #e6ae48;
}
.pdDetail .detail__img-image {
  width: 100%;
  background: url("../assets/product/7.jpg") center no-repeat;
  background-size: contain;
  border: 1px solid #e6e6e6;
}
.pdDetail .detail__describe {
  flex: 2;
}
.pdDetail .detail__describe label {
  color: #818181;
  text-transform: uppercase;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.pdDetail .detail__describe-price {
  margin-top: 10px;
  font-family: utm-caviar;
  font-size: 2.5rem;
  color: #e6ae48;
}
.pdDetail .detail__describe-price span {
  font-size: 1.5rem;
  vertical-align: top;
}
.pdDetail .detail__describe-reviews {
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 20px 0;
}
.pdDetail .detail__describe-reviews > span {
  margin: 0 5px;
}
.pdDetail .detail__describe-reviews-stars {
  display: inline-block;
  direction: rtl;
}
.pdDetail .detail__describe-reviews-stars span {
  position: relative;
  margin-right: 5px;
}
.pdDetail .detail__describe-reviews-stars span:hover::before, .pdDetail .detail__describe-reviews-stars span:hover ~ span::before {
  content: "";
  position: absolute;
  color: #737373;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.pdDetail .detail__describe-buy-color {
  margin-bottom: 1rem;
}
.pdDetail .detail__describe-buy-color div input {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}
.pdDetail .detail__describe-buy-color div input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  outline: 1px solid transparent;
}
.pdDetail .detail__describe-buy-color div input[value=champange]::after {
  background-color: #e6ae48;
}
.pdDetail .detail__describe-buy-color div input[value=black]::after {
  background-color: black;
}
.pdDetail .detail__describe-buy-color div input[value=cherry]::after {
  background-color: #9c0001;
}
.pdDetail .detail__describe-buy-color div input:checked::after, .pdDetail .detail__describe-buy-color div input:hover::after {
  outline: 1px solid black;
}
.pdDetail .detail__describe-buy-size {
  margin-bottom: 1rem;
}
.pdDetail .detail__describe-buy-size select {
  padding: 5px 10px;
  outline: none;
  color: #818181;
  border-color: #818181;
  font-size: 1.1rem;
}
.pdDetail .detail__describe-buy-quantity {
  margin-bottom: 1rem;
}
.pdDetail .detail__describe-buy-quantity-form {
  display: flex;
}
.pdDetail .detail__describe-buy-quantity-form > div {
  display: flex;
  align-items: center;
  margin-right: 15px;
  background-color: #e6e6e6;
}
.pdDetail .detail__describe-buy-quantity-form > div * {
  border: none;
  outline: none;
  font-weight: bold;
  color: #737373;
}
.pdDetail .detail__describe-buy-quantity-form > div button {
  font-size: 1.2rem;
  height: 100%;
  width: 30px;
  background-color: transparent;
}
.pdDetail .detail__describe-buy-quantity-form > div input {
  height: 70%;
  text-align: center;
  width: 70px;
}
.pdDetail .detail__describe-buy-quantity-form > button {
  padding: 10px 18px;
}
.pdDetail .detail__describe-buttons {
  margin: 2rem 0 1rem;
}
.pdDetail .detail__describe-buttons a {
  margin-right: 15px;
}
.pdDetail .detail__describe-buttons i {
  margin-right: 10px;
}
.pdDetail .detail__describe-content {
  margin-bottom: 1rem;
}
.pdDetail .detail__describe-content p {
  color: #818181;
}
.pdDetail .detail__describe-social {
  display: flex;
  justify-content: space-between;
}
.pdDetail .detail__describe-social div > span {
  padding: 5px 10px;
  margin-left: 5px;
  border: 1px solid #818181;
}
.pdDetail .detail__describe-social--facebook button {
  padding: 5px;
  color: white;
  background-color: #4965b5;
  border: 1px solid #4965b5;
  border-radius: 3px;
}
.pdDetail .detail__describe-social--facebook button i {
  color: white;
  margin-right: 5px;
}
.pdDetail .detail__describe-social--twitter button {
  padding: 5px;
  color: #818181;
  background-color: white;
  border: 1px solid #818181;
  border-radius: 3px;
}
.pdDetail .detail__describe-social--twitter button i {
  color: #00acee;
  margin-right: 5px;
}
.pdDetail .detail__describe-social--google button {
  padding: 5px;
  color: #e88476;
  background-color: white;
  border: 1px solid #818181;
  border-radius: 3px;
}
.pdDetail .detail__describe-social--google button i {
  color: #e88476;
  margin-right: 5px;
}
.pdDetail .detail__describe-social--linkedin button {
  padding: 5px;
  color: white;
  background-color: #0077b5;
  border: 1px solid #0077b5;
  border-radius: 3px;
}
.pdDetail .detail__describe-social--linkedin button i {
  color: white;
  margin-right: 5px;
}
.pdDetail .detail__describe-social--linkedin > span {
  display: none;
}
.pdDetail .detail__describe-social--pinterest button {
  padding: 5px;
  color: #be1d2b;
  background-color: white;
  border: 1px solid #818181;
  border-radius: 3px;
}
.pdDetail .detail__describe-social--pinterest button i {
  color: #be1d2b;
  margin-right: 5px;
}
.pdDetail .detail__describe-social--pinterest > span {
  display: none;
}
.pdDetail .more {
  display: flex;
  justify-content: space-between;
}
.pdDetail .more .tabs {
  flex-basis: 60%;
}
.pdDetail .more .tabs__buttons {
  margin-bottom: 1rem;
}
.pdDetail .more .tabs__buttons-btn {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #818181;
}
.pdDetail .more .tabs__buttons-btn:hover, .pdDetail .more .tabs__buttons-btn--active {
  color: white;
  background-color: #e6ae48;
}
.pdDetail .more .tabs__content {
  text-indent: 15px;
}
.pdDetail .more .img {
  flex-basis: 30%;
  background: url("../assets/blog/subMenuImage.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}
.pdDetail .more .img h1 {
  width: 100%;
  font-weight: normal;
  color: white;
  font-family: "roboto";
}
.pdList .slide {
  height: 300px;
}
.pdList .wrapper {
  display: flex;
  justify-content: space-between;
}
.pdList .wrapper__sidebar {
  flex-basis: 24%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pdList .wrapper__sidebar .titleLeft {
  margin-bottom: 15px;
}
.pdList .wrapper__sidebar > div {
  margin-bottom: 1.5rem;
}
.pdList .wrapper__sidebar-menu-products li {
  padding: 2px 0;
}
.pdList .wrapper__sidebar-menu-products--head {
  text-transform: uppercase;
}
.pdList .wrapper__sidebar-compare p {
  color: #818181;
}
.pdList .wrapper__sidebar-tag-items a {
  display: block;
  float: left;
  padding: 5px;
  border: 1px solid #818181;
  margin: 0 10px 10px 0;
}
.pdList .wrapper__sidebar-tag-items a:hover {
  background-color: #e6ae48;
  color: white !important;
  border-color: #e6ae48;
}
.pdList .wrapper__sidebar-ad {
  width: 100%;
  height: 35%;
  background: url("../assets/images/hiendi.png") center no-repeat;
  background-size: cover;
}
.pdList .wrapper__products {
  flex-basis: 72%;
}
.pdList .wrapper__products-headbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 10px 15px;
  border: 1px solid #e6e6e6;
}
.pdList .wrapper__products-headbar a {
  color: #e6e6e6;
}
.pdList .wrapper__products-headbar a:hover, .pdList .wrapper__products-headbar--active {
  color: #f26522 !important;
}
.pdList .wrapper__products-headbar-left a {
  margin-right: 10px;
}
.pdList .wrapper__products-headbar-right a {
  margin-left: 10px;
}
.pdList .wrapper__products .rowProductList {
  margin-top: 0;
  flex-wrap: wrap;
}
.pdList .wrapper__products .rowProductList .rowProductList__item {
  flex-basis: 33.33%;
  margin-bottom: 1.5rem;
}

.cart table, .cart td, .cart th {
  border: 1px solid #e6e6e6;
}
.cart table {
  margin-top: 3rem;
}
.cart td, .cart th {
  padding: 2rem 0;
  font-size: 1.2rem;
}
.cart th {
  text-transform: uppercase;
}
.cart__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fafafa;
  text-align: center;
}
.cart__table-img {
  width: 20%;
}
.cart__table-img img {
  width: 75%;
}
.cart__table-name {
  text-transform: uppercase;
}
.cart__table-price {
  font-family: utm-caviar;
  font-size: 1.2rem;
  color: #e6ae48;
}
.cart__table-price span {
  font-size: 1rem;
  vertical-align: top;
}
.cart__buttons {
  margin-top: 2rem;
  text-align: end;
}
.cart__buttons button {
  margin-left: 15px;
  padding: 10px 15px;
}

.about__content {
  margin-top: 3rem;
  display: flex;
}
.about__content-img {
  flex: 2;
}
.about__content-img img {
  width: 95%;
}
.about__content-des {
  flex: 3;
}
.about__content-des p {
  margin-top: 1rem;
  color: #818181;
  line-height: 1.5rem;
}

.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__list .blogListItem {
  flex-basis: 30%;
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
