@import 'mixins'

+fontFaceGenerator(lobster-regular, Lobster-Regular)
+fontFaceGenerator(roboto-regular, Roboto-Regular)
+fontFaceGenerator(utm-alpine, UTM-Alpine-KT)
+fontFaceGenerator(utm-aquarelle, UTM-Aquarelle)
+fontFaceGenerator(utm-caviar, UTM-Caviar)
+fontFaceGenerator(uvf-didot, UVF-Didot)
    
$PrimaryColor: #e6ae48
$SecondaryColor: #818181
$NewColor: #62af26
$HotColor: #ed301c
$lgWidth: 100%
$mdWidth: 80%
$smWidth: 50%
$xsWidth: 25% 
    
*
    margin: 0
    padding: 0

body
    font-size: 14px
    font-family: 'Times New Roman', Times, serif

a 
    text-decoration: none
    font-family: 'Times New Roman', Times, serif

ul 
    list-style: none

input
    outline: none

.introText
    text-transform: uppercase
    font-weight: normal
    letter-spacing: 2px

.btn 
    color: white
    background-color: black
    padding: 6px 18px
    border: none
    outline: none
    cursor: pointer
    font-family: 'Times New Roman', Times, serif
    &:hover 
        background-color: $PrimaryColor 
        transition: 0.5s

.titleDark
    margin: 5px 0 20px 0

.endContent
    padding-bottom: 6rem

@each $tag, $color in ("sale": $PrimaryColor, "new": $NewColor, "hot": $HotColor)
    .saletag-small--#{$tag}
        +saleTagSmall($color)
    .saletag-big--#{$tag}
        +saleTagBig($color)

.container
    width: 70%
    margin: auto

@import 'components/header', 'components/footer', 'pages/home'
