$PrimaryColor: #e6ae48
$SecondaryColor: #818181
$NewColor: #62af26
$HotColor: #ed301c
$HeadMenuTextColor: #d6d6d6
$BorderColor: #e6e6e6
$CherryColor: #9c0001
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e997c55... complete product detail page
$FacebookColor: #4965b5
$TwitterColor: #00acee
$GoogleColor: #e88476
$LinkedinColor: #0077b5
$PinterestColor: #be1d2b
<<<<<<< HEAD
<<<<<<< HEAD
$cartTableColor: #fafafa
$Orange: #f26522
=======
>>>>>>> 0bd73d3... add product detail page
=======
>>>>>>> e997c55... complete product detail page
=======
$Orange: #f26522
>>>>>>> 34bc816... complete product list page
$lgWidth: 100%
$mdWidth: 80%
$smWidth: 50%
$xsWidth: 25% 
$xsSpace: 5px
$smSpace: 10px
$mdSpace: 15px